{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ app_name }} - Statistic{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Statistic
    </h1>
</div>

<div class="col-md-4 statistic-form">
    {{ wtf.quick_form(form) }}
</div>

<div class="statistic-tabs">
    <ul class="nav nav-tabs">
        <li {% if not show_statistic %} class="active"{% endif %}><a href="{{ url_for('.show_courses') }}">Courses</a></li>
        <li {% if show_statistic %} class="active"{% endif %}><a href="{{ url_for('.show_statistic') }}">Statistic</a></li>
    </ul>

    {% if not show_statistic %}
    <table class="table table-hover statistic">
        <thead><tr><th>Course name</th><th>Course type</th><th>Credit</th><th>Score</th></tr></thead>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course_type_name[course.type_id] }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.score }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    {% if show_statistic %}
        <h1>statistics....</h1>
    {% endif %}
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
{% endif %}
{% endblock %}