{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ app_name }} - Courses{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Courses
    </h1>
</div>

<div class="col-md-4 courses-form">
    {{ wtf.quick_form(form) }}
    <br />
    <p>嫌一条一条添加成绩麻烦？试试<a href="{{ url_for('.import_courses') }}">批量导入</a>.</p>
</div>

<div class="courses-table">
    <table class="table table-hover courses">
        <thead><tr><th>Term</th><th>Course name</th><th>Course type</th><th>Credit</th><th>Score</th><th></th></tr></thead>
        {% for course in courses %}
        <tr>
            <td>第{{ course.term }}学期</td>
            <td>{{ course.name }}</td>
            <td>{{ course_type_name[course.type_id] }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.score }}</td>
            <td>
                <a href="{{ url_for('.edit_course', id=course.id) }}"><span class="label label-primary">Edit</span></a> 
                <a href="{{ url_for('.delete_course', id=course.id) }}"><span class="label label-danger">Del</span></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.courses') }}
</div>
{% endif %}
{% endblock %}