{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}{{ app_name }} - Courses{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Courses
    </h1>
</div>

<div class="col-md-4 courses-form">
    {{ wtf.quick_form(form) }}
</div>

<div class="courses-table">
    <table class="table table-hover courses">
        <thead><tr><th>Term</th><th>Course name</th><th>Course type</th><th>Credit</th><th>Score</th></tr></thead>
        {% for course in courses %}
        <tr>
            <td>第{{ course.term }}学期</td>
            <td>{{ course.name }}</td>
            <td>{{ course_type_name[course.type_id] }}</td>
            <td>{{ course.credit }}</td>
            <td>{{ course.score }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.courses') }}
</div>
{% endif %}
{% endblock %}