{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ app_name }} - Statistics{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        Statistics
    </h1>
</div>

<div class="courses-table">
    <table class="table table-hover courses">
        <thead><tr><th>Statistic quantity</th><th>Result</th></tr></thead>
        {% for key, value in statistics.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}