{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ app_name }} - 成绩统计{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        成绩统计
    </h1>
</div>

<div class="col-md-4 courses-form">
    {{ wtf.quick_form(form) }}
</div>

<div class="courses-table">
    <table class="table table-hover courses">
        <thead><tr><th>统计量</th><th>结果</th></tr></thead>
        {% for key, value in statistics.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="page-header">
    <h1>
        规则解释
    </h1>
</div>
<h2>课程类型</h2>
<p>
    为了方便GPA计算，我把课程类型分成如下几类（在添加成绩时能看到）：
    <ul>
        <li>通识</li>
        <li>经典阅读</li>
        <li>公选</li>
        <li>通修</li>
        <li>数理通修</li>
        <li>专业平台</li>
        <li>专业核心</li>
        <li>专业选修</li>
    </ul>
</p>
<p>
    批量导入会按照下列的规则把教务处的类型映射到网站保存的类型（用户手动添加课程也应该灵活遵循下面的规则）：
    <ol>
        <li>如果教务处的课程类型是<mark>通识</mark>，那么仍映射到<mark>通识</mark></li>
        <li>如果教务处的课程类型是<mark>通修</mark>，那么映射到<mark>通修</mark>。此外，如果这门通修课是数理课程，那么映射到<mark>数理通修</mark></li>
        <li>如果教务处的课程类型是<mark>选修</mark>，那么这门课有可能是通识课、经典阅读、专业选修课。他们分别被映射到<mark>通识</mark>、<mark>经典阅读</mark>、<mark>专业选修类型</mark></li>
        <li>如果教务处的课程类型是<mark>平台</mark>，那么映射到<mark>专业平台</mark></li>
        <li>如果教务处的课程类型是<mark>核心</mark>，那么映射到<mark>专业核心</mark></li>
        <li>其他映射到<mark>公选</mark></li>
    </ol>
</p>
<p>
    以上的规则中，只有第3条规则比较复杂，这也是教务处课程类型显示不合理的地方：把部分通识课、经典阅读、专业选修都叫选修课。  
</p>
<p>
    上面第2条规则额外设立了一个数理通修类课程。这是因为，计算机系在计算专业GPA、保研GPA的时候不算入通修课，除了数理类通修课。
    我不太清楚其他系GPA的计算规则，因此只针对计算机系做了个额外优化。
</p>
<p>
    <mark>注意，批量导入课程不会区分数理通修与普通通修课程。导入结果均为通修。因此你需要使用编辑功能重新更改课程类型。</mark>
</p>
<h2>GPA计算规则</h2>
<p>
    网站主要计算综合GPA，专业GPA，保研GPA。计算规则如下：
    <ul>
        <li>综合GPA对<mark>所有课程</mark>按照学分进行加权平均，最后除以20</li>
        <li>专业GPA对<mark>数理通修</mark>、<mark>专业平台</mark>、<mark>专业核心</mark>、<mark>专业选修</mark>课按照学分进行加权平均，最后除以20</li>
        <li>保研GPA对<mark>数理通修</mark>、<mark>专业平台</mark>、<mark>专业核心</mark>课按照学分进行加权平均，最后除以20</li>
    </ul>
</p>
{% endblock %}