{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ app_name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        欢迎来到StuHub
    </h1>
</div>
<h2>简介</h2>
<p>
    该网站是我的练手作，主要的功能是保存课程数据、成绩统计（计算GPA、已修学分等）。
    另外还有一个功能有点像贴吧版QQ空间的讨论区，可以给大家水水贴。
</p>
<p>
    框架代码与开发流程参考的是
    <a href="https://book.douban.com/subject/26274202/" target="_blank">《flask web开发》</a>。
    我的源代码在github上，欢迎参考
    （<a href="https://github.com/QinlinChen/StuHub" target="_blank">https://github.com/QinlinChen/StuHub</a>）。
</p>
<h2>使用帮助</h2>
<h3>注册</h3>
<p>
    因为要给每个人保存各自的课程数据，所以需要大家使用邮箱注册一下账号。
    用户名必须要用<mark>英文</mark>（不会告诉你这样是因为我验证起来比较简单）。
    密码随意一点就行了，也别用平时惯用的密码，因为说不定我很快就删库跑路了。
    不过可以放心，服务器保存的是加密过的密码，所以不太会发生撞库的事情。
</p>
<h3>导入成绩</h3>
<p>
    为了进行成绩统计，你需要登录后在上方的<mark>课程</mark>页面加入教务处的成绩。
</p>
<p>
    因为手动添加成绩有点麻烦，所以我开发了一下批量导入功能。
    我首先要声明一下：如果想要网站自动帮你从教务处导入数据，
    我就必须要获得你教务处的账号密码，这样我才有权限访问你的数据。
    但这相当于你把你教务处的账号密码给了我，这很不安全。
    （但实际上，超级课程表导入课程的原理不就是这样的吗？）
    我作为一个散漫的网站开发者，自认为自己并不可信，
    而且，就算我没有胡乱使用你的密码，以后要是出了问题，
    怀疑到我头上，我也是要负<del>泽</del>责任的。
    所以我退而求其次，想了一个不用你教务处账号密码，又相对来说很方便的方法。
</p>
<p>
    你打开上方<mark>课程</mark>页面，里面有个批量导入的链接。
    点进去，它会要求你指定导入成绩所在的学期，并上传一个文件。
    这个文件是这样获得的：
    假设我们需要导入第3学期的成绩，那么你需要登录教务处，
    点击“个人信息->成绩查看”，到达我们查看成绩的地方。
    然后进入第三学期（大二上）对应的成绩页面，
    右击鼠标，点击<mark>另存为</mark>来保存网页
    （chrome浏览器是有这个功能的。但Edge浏览器没有。其他的我还没测试过。
    如果没有这个功能，请先看完这段，之后我再讲解），
    于是你的电脑上会获得一个html格式的文件（可能还会获得一个包含杂七杂八内容的文件夹）。
    接下来，我们回到导入成绩页面，学期选择第3学期，接着选择刚才保存的这个html文件上传。
    这样就应该能导入成功了。
</p>
<p>
    相比于网站通过取得用户的账号密码来代替用户<mark>获取数据</mark>并<mark>解析</mark>的方法，
    此方法的原理是，由用户自己来<mark>获取数据</mark>，然后交给网站来<mark>解析</mark>。
    跟原先逐条导入数据比较来看，获取数据是一个比较轻松的活，而且在这里用户最多只需要获取8次数据（8个学期）。
    而解析数据这种麻烦的工作就可以交给服务器来做了。
    这样就能达到“既保证不用获取用户隐私，又维持了简便性”的目的。
</p>
<p>
    明确了原理，我们就知道，网站需要的数据源是成绩所在的那个页面。
    网页本身是个html文件。所以用户需要想办法把这个网页保存下来。
    以Edge浏览器为例，它没有保存网页的功能。
    所以，你必须右键查看源代码，把源代码复制下来，保存到本地文件中，
    命名为xxx.html。这个文件就可以上传到网站上作为批量导入的数据源了。
</p>
<h3>课程类型</h3>
<p>
    为了方便GPA计算，我把课程类型分成如下几类（在添加成绩时能看到）：
    <ul>
        <li>通识</li>
        <li>经典阅读</li>
        <li>公选</li>
        <li>通修</li>
        <li>数理通修</li>
        <li>专业平台</li>
        <li>专业核心</li>
        <li>专业选修</li>
    </ul>
</p>
<p>
    批量导入会按照下列的规则把教务处的类型映射到网站保存的类型（用户手动添加课程也应该灵活遵循下面的规则）：
    <ol>
        <li>如果教务处的课程类型是<mark>通识</mark>，那么仍映射到<mark>通识</mark></li>
        <li>如果教务处的课程类型是<mark>通修</mark>，那么映射到<mark>通修</mark>。此外，如果这门通修课是数理课程，那么映射到<mark>数理通修</mark></li>
        <li>如果教务处的课程类型是<mark>选修</mark>，那么这门课有可能是通识课、经典阅读、专业选修课。他们分别被映射到<mark>通识</mark>、<mark>经典阅读</mark>、<mark>专业选修类型</mark></li>
        <li>如果教务处的课程类型是<mark>平台</mark>，那么映射到<mark>专业平台</mark></li>
        <li>如果教务处的课程类型是<mark>核心</mark>，那么映射到<mark>专业核心</mark></li>
        <li>其他映射到<mark>公选</mark></li>
    </ol>
</p>
<p>
    以上的规则中，只有第3条规则比较复杂，这也是教务处课程类型显示不合理的地方：把部分通识课、经典阅读、专业选修都叫选修课。  
</p>
<p>
    上面第2条规则额外设立了一个数理通修类课程。这是因为，计算机系在计算专业GPA、保研GPA的时候不算入通修课，除了数理类通修课。
    我不太清楚其他系GPA的计算规则，因此只针对计算机系做了个额外优化。
</p>
<p>
    <mark>注意，批量导入课程不会区分数理通修与普通通修课程。导入结果均为通修。因此你需要使用编辑功能重新更改课程类型。</mark>
</p>
<h3>GPA计算规则</h3>
<p>
    网站主要计算综合GPA，专业GPA，保研GPA。计算规则如下：
    <ul>
        <li>综合GPA对<mark>所有课程</mark>按照学分进行加权平均，最后除以20</li>
        <li>专业GPA对<mark>数理通修</mark>、<mark>专业平台</mark>、<mark>专业核心</mark>、<mark>专业选修</mark>课按照学分进行加权平均，最后除以20</li>
        <li>保研GPA对<mark>数理通修</mark>、<mark>专业平台</mark>、<mark>专业核心</mark>课按照学分进行加权平均，最后除以20</li>
    </ul>
</p>
{% endblock %}
