{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}{{ app_name }}{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        欢迎来到StuHub
    </h1>
</div>
<h2>简介</h2>
<p>
    该网站是我的练手作，主要的功能是保存课程数据、成绩统计（计算GPA、已修学分等）。
    另外还有一个功能有点像贴吧版QQ空间的讨论区，可以给大家水水贴。
</p>
<p>
    框架代码与开发流程参考的是
    <a href="https://book.douban.com/subject/26274202/" target="_blank">《flask web开发》</a>。
    我并不是很熟练前端，所以在式样上没做多大改变。
    网站的源代码在github上，欢迎参考
    （<a href="https://github.com/QinlinChen/StuHub" target="_blank">https://github.com/QinlinChen/StuHub</a>）。
</p>
<h2>使用须知</h2>
<p>
    因为要给每个人保存各自的课程数据，所以需要大家使用邮箱注册一下账号。
    用户名必须要用<mark>英文</mark>（不会告诉你这样是因为我验证起来比较简单）。
    密码随意一点就行了，也别用平时惯用的密码，因为说不定我很快就删库跑路了。
    不过可以放心，服务器保存的是加密过的密码，所以不太会发生撞库的事情。
</p>
<h2>最后</h2>
<p>
    请愉快地玩耍吧！
</p>
{% endblock %}
